383-TresCamadas/Agenda/TesteWCFWeb/Service References/ProxyRelatorio/Relatorio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/BLL_DAL.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BLL_DAL.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50000/Relatorio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfUsuarioModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioModel" nillable="true" type="tns:UsuarioModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioModel" nillable="true" type="tns:ArrayOfUsuarioModel" />
  <xs:complexType name="UsuarioModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdmUsuario" type="ser:char" />
      <xs:element minOccurs="0" name="CodUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="NomeUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PwdUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioModel" nillable="true" type="tns:UsuarioModel" />
</xs:schema>