383-TresCamadas/Agenda/TesteWCF/Service References/ProxyUsuario/Usuario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50000/Usuario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BLL_DAL.Model" />
  <xs:element name="Inserir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BLL_DAL.Model" minOccurs="0" name="usuario" nillable="true" type="q1:UsuarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Alterar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BLL_DAL.Model" minOccurs="0" name="usuario" nillable="true" type="q2:UsuarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Excluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BLL_DAL.Model" minOccurs="0" name="usuario" nillable="true" type="q3:UsuarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Consultar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BLL_DAL.Model" minOccurs="0" name="ConsultarResult" nillable="true" type="q4:ArrayOfUsuarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCodUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BLL_DAL.Model" minOccurs="0" name="usuario" nillable="true" type="q5:UsuarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCodUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BLL_DAL.Model" minOccurs="0" name="ConsultarCodUsuarioResult" nillable="true" type="q6:UsuarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BLL_DAL.Model" minOccurs="0" name="usuario" nillable="true" type="q7:UsuarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BLL_DAL.Model" minOccurs="0" name="LogarResult" nillable="true" type="q8:UsuarioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>